extends layout

block content
    div(ng-controller="RecueMapCtrl")
        .row
            form(role='form',ng-submit="geoCode()")
              .form-group
                .col-md-4
                  input#q.form-control(type='text', 
                                       placeholder='Washington, DC',
                                       ng-model='searchOptions.address')
                button.btn.btn-primary(type='submit') Search

        .row
            .col-md-4
              h4.align-right.assistMe
                i.fa.fa-medkit(style="padding-right:3px") &nbsp;AssistMe&#153;
                

              .list-data-wrap
                .list-group.list-data
                  a.list-group-item(href='#',ng-repeat="record in rescueReportRecords | orderBy:'assistMeRating':true")
                    .btn.btn-assist.priority-1.pull-right {{record.assistMeRating}}
                    h4.list-group-item-heading(ng-bind="record.name")
                    p.list-group-item-text
                      | {{record.location.address}}, {{record.location.city}}, {{record.location.state}}
                      br
                      | Owner Contact #: {{record.contact.formattedPhone}}
              br
              .progress.progress-striped(ng-show="searchProgress.active")
                    .progress-bar.progress-bar-danger(role='progressbar', 
                                                      aria-valuenow='{{searchProgress.percent}}', 
                                                      aria-valuemin='0', 
                                                      aria-valuemax='100', 
                                                      style='width: {{searchProgress.percent}}%;')
                        span.sr-only {{searchProgress.percent}}% Complete
              .align-center
                ul.pagination.pagination-sm
                  li
                    a(href='#') «
                  li
                    a(href='#') 1
                  li
                    a(href='#') 2
                  li
                    a(href='#') 3
                  li
                    a(href='#') 4
                  li
                    a(href='#') 5
                  li
                    a(href='#') »
              .row
                h4.align-center.assistMe
                  i.fa.fa-medkit(style="padding-right:3px") &nbsp;AssistMe&#153;
                .col-md-offset-1.col-md-10.align-center
                  .col-md-4
                    .btn.btn-assist.priority-1 10
                    p.sm Most Urgent
                  .col-md-4
                    span.glyphicon.glyphicon-arrow-right.icon-lg
                  .col-md-4
                    .btn.btn-assist.priority-3 1
                    p.sm Least Urgent 
            .col-md-8
                .map
                    section#map()
                        .map-canvas(ui-map='rescueMap', ui-options='mapOptions')
    script.
        var sid = !{JSON.stringify(locals.sessionID)};
        console.log("SOMETHING",sid)
    script(src='/bower_components/jquery/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js')
    script(src='/bower_components/jquery.tagsinput/jquery.tagsinput.min.js')
    script(src='/bower_components/angular-ui-utils/modules/event/event.js ')
    script(src='/bower_components/angular-ui-map/src/map.js')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
    script(src='http://cdn.pubnub.com/pubnub-3.5.47.min.js')
    script(src='/js/app/index.js')        
